{% extends 'base.html' %}

{% block header %}
  <div class="titlebox"><h1>{% block title %}Log In{% endblock %}</h1></div> 
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
<div class="container">
    <form method="post">
    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input type="text" id="username" name="username">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="passowrd">Password</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="password">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
  
{% endblock %}