body {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.mainbox {
    position: static;
    margin: auto;
    width: 1200px;
    height: 1200px;
    border-radius: 45px;
    overflow: hidden;
    background-color:#e0e0e0be;
}

.icon {
    border-radius: 25px;
    overflow: hidden;
    align-items: center;
    width: 120px;
    height: 120px;
    z-index: 3;
}

.topbanner img {
    transform: translateX(-65px);
}

.topbanner h1 {
    z-index: 1;
    position: relative;
    transform: translate(-300px, -120px);
    font-size: 40px;
    font-family: cursive, sans-serif;
    font-weight: 10;
    color: rgb(255, 255, 255);
    align-items: center;
  }

.topbanner input[type=text] {
    z-index: 1;
    text-align: justify;
    position: relative;
    transform: translate(-50px, -190px);
    float: right;
    padding-left: 15px;
    border-radius: 25px;
    font-size: 20px;
    background-color: lavenderblush;
    font-family: cursive, sans-serif;
    font-weight: 10;
}

.topbanner {
    position: static;
    width: 1200px;
    height: 120px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    background-color: #9763db;
}
