{% extends 'base.html' %}
{% block header %}
   {% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<div class="mainbox">
    <div class="topbanner">
        <div class="icon">
            <img src="../static/images/icon.png">
        </div>
        <h1>Prodigy Games</h1>
        <form method="POST">
            <input type="text" name="searchcontent" id="searchcontent" placeholder="Search..">
        </form>
    <div>
</div>
{% endblock %}